@model IosClubManage.MVC.Models.BookBorrowRecord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>图书借阅记录详细</h2>

<div>
    <h4>BookBorrowRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Librarian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Librarian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOdn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOdn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
