@using PagedList.Mvc;
@*@model IEnumerable<IosClubManage.MVC.Models.BookBorrowRecord>*@
@model PagedList.IPagedList<IosClubManage.MVC.Models.BookBorrowRecord>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>图书借阅记录列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<div>
    @using (Html.BeginForm())
    {

        @Html.DropDownList("Name", null, "===请选择用户姓名===")
        @*@Html.TextBox("keywords")*@
        <input type="submit" value="搜索" />
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Single().Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().BookCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().Librarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().IsActive)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateOdn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Librarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateOdn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>*@
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("详细", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex, @*KeyWords = ViewBag.KeyWords,*@ Name = ViewBag.Name }))
