@model IosClubManage.MVC.Models.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>项目详细</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectAmmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectAmmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanKnotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanKnotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsKnot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsKnot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOdn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOdn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
